body {
  text-align: center;
}
h1 {
  display: inline-block;
  background: linear-gradient(transparent 60%,rgb(255, 193, 100) 60%);
  transform: skewX(-10deg);
}
h2{
  display: inline-block;
  background: linear-gradient(transparent 60%,rgb(100,255,220) 60%);
  transform: skewX(-10deg);
}
th {
  padding: 15px 30px;
  background: rgb(100,255,220);
}
td {
  padding: 15px 30px;
  background: rgb(200, 255, 220);
}
.Thumbnail {
  position: relative;
}
.ImageCheck {
  position: absolute;
  top: 0;
  left: 0;
}
.wrap {
  display:flex;
  justify-content:center;
}

.SideBySide {
  display:flex;
  align-items:center;
}